<div class="row">
    <div class="col-11">
        <h5>{{titulo}}</h5>
    </div>
    <div class="col-1 text-right">
        <a [routerLink]="['/contexto', 'submenufoda', 'foda']" class="btn btn-outline-dark">Regresar</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <app-card-foda [icono]="'fas fa-exclamation-triangle'" [listado]="listado | filtraFoda: 'A'" [cuestion]="'A'" [cuestion_desc]="'Amenaza'" [proceso]="proceso" [derechos]="derechos"></app-card-foda>
    </div>
    <div class="col-sm-6">
        <app-card-foda [icono]="'far fa-check-circle'" [listado]="listado | filtraFoda: 'O'" [cuestion]="'O'" [cuestion_desc]="'Oportunidad'" [proceso]="proceso" [derechos]="derechos"></app-card-foda>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <app-card-foda [icono]="'far fa-thumbs-down'" [listado]="listado | filtraFoda: 'D'" [cuestion]="'D'" [cuestion_desc]="'Debilidad'" [proceso]="proceso" [derechos]="derechos"></app-card-foda>
    </div>
    <div class="col-sm-6">
        <app-card-foda [icono]="'far fa-lightbulb'" [listado]="listado | filtraFoda: 'F'" [cuestion]="'F'" [cuestion_desc]="'Fortaleza'" [proceso]="proceso" [derechos]="derechos"></app-card-foda>
    </div>
</div>