<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-2">Filtrar Tipo de Cuestión</div>
    <div class="col-sm-10">
        <button class="btn btn-outline-primary" routerLinkActive="active" (click)="filtrar()">Ver Todas</button>&nbsp;
        <button class="btn btn-outline-primary" routerLinkActive="active" (click)="filtrar('A')">Amenazas</button>&nbsp;
        <button class="btn btn-outline-primary" routerLinkActive="active" (click)="filtrar('D')">Debilidades</button>&nbsp;
        <button class="btn btn-outline-primary" routerLinkActive="active" (click)="filtrar('F')">Fortalezas</button>&nbsp;
        <button class="btn btn-outline-primary" routerLinkActive="active" (click)="filtrar('O')">Oportunidades</button>
    </div>
</div>
<br/>
<app-mat-data-table (registro)="detectarAccion($event)" [derechos]="derechos" [columns]="columns" [data]="listadoFiltrado" [select]="select" [allowMultiSelect]="allowMultiSelect"></app-mat-data-table>