.card {
    border: 0 !important;
    background: transparent;
    width: 200px;
}

.card-title {
    color: #2e5882 !important;
    margin-bottom: 5px;
}

.card-body {
    padding: 10px;
}

.info-item {
    color: #5C8CC7 !important;
    display: block;
    text-align: left;
    cursor: pointer;
}

.info-item:hover {
    background: #abb1b6;
}

.info-divider {
    height: 2px;
    background: #2E5882;
    display: block;
    margin: 5px 0;
    /*width: 90%;*/
    text-align: center;
}