<div style="display: block" *ngIf="barChartData.length > 0">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<!--<table class="table table-bordered border-dark">
    <tr>
        <td rowspan="6" class="text-center" style="transform: rotate(270deg);">FRECUENCIA (HISTÓRICA)</td>
        <td rowspan="6" class="text-center" style="transform: rotate(270deg);">PROBABILIDAD (%)</td>
        <td></td>
        <td>IMPACTO</td>
    </tr>
    <tr>
        <td>81-100</td>
        <td rowspan="5">
        </td>
    </tr>
    <tr>
        <td>61-80</td>
    </tr>
    <tr>
        <td>41-60</td>
    </tr>
    <tr>
        <td>21-40</td>
    </tr>
    <tr>
        <td>0-20</td>
    </tr>
</table>-->