<h5>{{titulo}}</h5>
<hr>
<br/>
<form novalidate="novalidate" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row">
            <label for="clave" class="col-sm-2 col-form-label text-right">Clave</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="clave" aria-describedby="claveHelp" [attr.disabled]="'disabled'">
                <small id="claveHelp" class="form-text text-muted">Clave del Elemento</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="sistema" class="col-sm-2 col-form-label text-right">Sistema</label>
            <div class="col-sm-5">
                <select class="form-control" name="sistema" formControlName="sistema" [ngStyle]="{'border-color': (forma.touched && sistema.invalid ? '#dc3545' : '#ced4da')}">
					<option value="">Seleccionar</option>
					<option value="{{item.sistema}}" *ngFor="let item of sistemas">{{item.descrip}}</option>
				</select>
                <small id="sistemaHelp" class="form-text text-muted">Sistemas de Calidad</small>
                <div *ngIf="forma.touched && sistema.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="tipo" class="col-sm-2 col-form-label text-right">Tipo de Elemento</label>
            <div class="col-sm-5">
                <select class="form-control" name="tipo" formControlName="tipo" [ngStyle]="{'border-color': (forma.touched && tipo.invalid ? '#dc3545' : '#ced4da')}">
					<option value="">Seleccionar</option>
					<option value="P">Política de Calidad</option>
					<option value="A">Alcance</option>
					<option value="M">Misión</option>
					<option value="V">Visión</option>
					<option value="O">Objetivos de Calidad</option>
					<option value="N">Nota</option>
					<!--E-Eje estrategico-->
				</select>
                <small id="tipoHelp" class="form-text text-muted">Tipo de Elemento de Identidad</small>
                <div *ngIf="forma.touched && tipo.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="predecesor" class="col-sm-2 col-form-label text-right">Descripción</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="numero" aria-describedby="numeroHelp">
                <small id="numeroHelp" class="form-text text-muted">Consecutivo</small>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="descrip" aria-describedby="descripHelp">
                <small id="descripHelp" class="form-text text-muted">Descripción del Elemento de Identidad de tipo {{titulo}}</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="ent_data" class="col-sm-2 col-form-label text-right">Vigencia</label>
            <div class="col-sm-2">
                <input class="form-control" type="date" formControlName="f_inicial" aria-describedby="f_inicialHelp">
                <!--[ngClass]="{'is-invalid': forma.controls['f_inicial'].touched && forma.controls['f_inicial'].invalid}"-->
                <small id="f_inicialHelp" class="form-text text-muted">Fecha Inicial</small>
                <!--<div *ngIf="forma.touched && forma.controls['f_inicial'].errors?.required" class="invalid-feedback" style="display: block">Este campo es requerido</div>-->
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" formControlName="f_final" aria-describedby="f_finalHelp">
                <small id="f_finalHelp" class="form-text text-muted">Fecha Final</small>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
			<i class="fa fa-save"></i>
			Guardar
		</button>
        <a [routerLink]="cancelar" class="btn btn-outline-danger">Cancelar</a>
    </div>
</form>