@import '~angular-tree-component/dist/angular-tree-component.css';
header,
footer {
    background-color: #3e78b2;
}

header div {
    display: inline-table;
    text-align: center
}

header li {
    display: contents;
}

header li a {
    color: #eeeeee;
}

header h3,
header h4 {
    color: #eeeeee;
}

.img-footer {
    border: 10px solid transparent;
    margin: 0 auto;
    display: table;
}

.info-footer {
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
}

.info-footer p {
    font-size: 14px;
}

.main-container {
    margin: 20px;
}

.dropdown-menu {
    background: #F7F5F5 !important;
}

ng-table>table>tbody>tr>td>input {
    width: 100% !important;
}

ng-table>table>tbody>tr>td {
    font-size: 13px;
    padding: 8px !important;
}

.angular-tree-component {
    padding: 10px !important;
}

.toggle-children {
    background-image: url('../../src/assets/images/icons/arrow.png') !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}