@import '~angular-tree-component/dist/angular-tree-component.css';
header,
footer {
    background-color: #3e78b2;
}

header div {
    display: inline-table;
    text-align: center
}

header li {
    display: contents;
}

header li a {
    color: #eeeeee;
}

header h3,
header h4 {
    color: #eeeeee;
}

.img-footer {
    border: 10px solid transparent;
    margin: 0 auto;
    display: table;
}

.info-footer {
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
}

.info-footer p {
    font-size: 14px;
}

.main-container {
    margin: 20px;
}

.dropdown-menu {
    background: #F7F5F5 !important;
}


/* TREE */

.angular-tree-component {
    padding: 10px !important;
}

.toggle-children {
    background-image: url('../../src/assets/images/icons/arrow.png') !important;
    height: 14px !important;
    width: 14px !important;
}

.node-content-wrapper {
    width: 100% !important;
    border-radius: 5px !important;
}

.node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
    background: #3e78b2 !important;
    color: #fff !important;
}

.node-content-wrapper:hover {
    background: #fff !important;
    color: #3180cf !important;
}

.mat-badge-accent .mat-badge-content {
    background-color: darkorange;
    color: #fff;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.label-primary {
    background-color: #428bca;
}

.label-default {
    background-color: #777;
}

.material-switch>input[type="checkbox"] {
    display: none;
}

.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}