.example-container {
    height: 400px;
    overflow: auto;
}

.mat-header-cell {
    padding: 1em;
    font-size: 14px;
    justify-content: space-between;
}

.mat-cell {
    padding: 5px;
}

.mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
    margin-top: 8px;
}

.example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
    color: orange;
}


/** Selection styles */

.example-selection-header {
    font-size: 18px;
    background: rgba(255, 64, 129, 0.3);
    border-bottom: 1px solid #d696ac;
}

.mat-column-select,
.mat-column-editar,
.mat-column-cancelar {
    overflow: initial;
    padding: 0.65em;
}

.mat-row:hover,
.example-selected-row {
    background: #f5f5f5;
}

.mat-row:active,
.mat-row.example-selected-row {
    background: #eaeaea;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
}

.mat-form-field {
    font-size: 12px;
    width: 50%;
}

.columnAlign {
    text-align: center;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #7a7a7a; // rgba(55, 163, 55, 0.719);
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #949494 !important; //rgba(55, 163, 55, 0.719) !important;
}

::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #949494 !important;
}

::ng-deep .mat-header-row {
    background-image: linear-gradient(to left, rgba(154, 175, 199, 0), rgba(154, 175, 199, .5)) !important;
}

tr.example-detail-row {
    height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.example-header-detail {
    color: rgba(0, 0, 0, .54);
    padding: 0.15em;
    font-weight: 500;
}