<header>
    <nav class="navbar">
        <!-- navbar-dark bg-dark-->
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo_sgc_gris.png" width="70" height="70" class="d-inline-block align-top" alt="SGC">
        </a>
        <div>
            <h4>Universidad Juárez del Estado de Durango</h4>
            <h3>Sistema de Gestión de Calidad</h3>
        </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right animated slideInRight">
                <app-login></app-login>
            </div>
        </li>
    </nav>
</header>