<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h5 class="text-primary">
                <i class="{{icono}}"></i> {{cuestion_desc}}
            </h5>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card bg-0">
        <div class="card-header text-right" *ngIf="derechos.insertar || derechos.editar" style="padding: 0px; background-color: transparent; border: 0;">
            <button *ngIf="derechos.insertar" type="button" class="btn btn-sm btn-link text-success" (click)="agregar()">
				<i class="fas fa-plus-circle"></i> Agregar
			</button>
        </div>
        <div class="card-body" style="padding: 10px;">
            <div *ngIf="listado.length === 0" class="text-secondary">- Sin registros -</div>
            <div *ngIf="listado.length > 0">
                <div *ngFor="let item of listado; let i = index" clasS="list-group list-group-item">
                    <div class="row">
                        <div class="col-md-1" style="white-space: nowrap;">
                            <h6>{{item.cuestion}}{{ i + 1 }}</h6>
                        </div>
                        <div class="col-sm-8">
                            <h6>{{item.foda_desc}}</h6>
                        </div>
                        <div class="col-sm-3 text-right">{{item.autoriza_desc | titlecase}}</div>
                    </div>
                    <div class="col-sm-auto text-right">
                        <button *ngIf="(i > 0) && derechos.editar && (item.autoriza === 0 || item.autoriza === 1 || item.autoriza === 2 || item.autoriza === 3)" type="button" class="btn btn-xs btn-link text-secondary" (click)="mover(listado, item, i, -1)" title="Subir">
							<i class="fas fa-arrow-up"></i>
						</button>
                        <button *ngIf="(i < (listado.length - 1)) && derechos.editar && (item.autoriza === 0 || item.autoriza === 1 || item.autoriza === 2 || item.autoriza === 3)" type="button" class="btn btn-xs btn-link text-secondary" (click)="mover(listado, item, i, +1)"
                            title="Bajar">
							<i class="fas fa-arrow-down"></i>
						</button>
                        <button *ngIf="derechos.editar && (item.autoriza === 0 || item.autoriza === 1)" type="button" class="btn btn-md btn-link" (click)="editar(item, i)" title="Editar">
							<i class="far fa-edit"></i>
						</button>
                        <button *ngIf="derechos.cancelar && (item.autoriza === 0 || item.autoriza === 1 || item.autoriza === 2 || item.autoriza === 3)" type="button" class="btn btn-md btn-link text-danger" (click)="cancelar(item, i)" title="Cancelar">
							<i class="fas fa-trash-alt"></i>
						</button>
                        <button type="button" class="btn btn-md btn-link" title="Ver + Info" (click)="openDialog(item)">
							<i class="far fa-eye"></i>
						</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>