<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">PF</h6>
                    <p class="card-text"><small class="text-muted">Probabilidad (experiencia) o Frecuencia (históricos)</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Valor CPF</h6>
                    <p class="card-text"><small class="text-muted">Valor Cuantitativo de la Probabilidad (experiencia) o Frecuencia (históricos)</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Valor CI</h6>
                    <p class="card-text"><small class="text-muted">Valor Cuantitativo del Impacto</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Valor CPT</h6>
                    <p class="card-text"><small class="text-muted">Valor Cuantitativo Ponderado Total</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-mat-data-table-privint (registro)="detectarAccion($event)" [opciones]="opciones" [derechos]="derechos" [columns]="columns" [data]="listado" [select]="select" [allowMultiSelect]="allowMultiSelect">
</app-mat-data-table-privint>