<div class="row">
    <div class="col-11">
        <h5>
            <small>Riesgo Identificado</small>
            <p>No. {{registro.consecutivo}} {{registro.riesgo_desc}}</p>
            <small>{{registro.estado_desc}}</small>
        </h5>
        <h6 class="text-muted">{{registro.proceso_desc}}</h6>
    </div>
    <div class="col-1 text-right">
        <a [routerLink]="cancelar" class="btn btn-outline-dark">Regresar</a>
    </div>
</div>
<hr>
<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <nav>
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-med-tab" data-toggle="tab" href="#nav-med" aria-controls="nav-med" aria-selected="true">Medición del Riesgo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" aria-controls="nav-acc" aria-selected="false">Implementación de Acciones</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-med" role="tabpanel" aria-labelledby="nav-med-tab">
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalME">
						Método de Evaluación
					</button>
                </div>
            </div>
            <br>
            <div class="row" style="padding-left: 1.25rem; padding-right: 1.25rem;">
                <div class="col-sm-12">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">PF</h6>
                                <p class="card-text"><small class="text-muted">Probabilidad (experiencia) o Frecuencia (históricos)</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Valor CPF</h6>
                                <p class="card-text"><small class="text-muted">Valor Cuantitativo de la Probabilidad (experiencia) o Frecuencia (históricos)</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Valor CI</h6>
                                <p class="card-text"><small class="text-muted">Valor Cuantitativo del Impacto</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Valor CPT</h6>
                                <p class="card-text"><small class="text-muted">Valor Cuantitativo Ponderado Total</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Valor RR</h6>
                                <p class="card-text"><small class="text-muted">Valor Cuantitativo Ponderado Total (Riesgo Residual)</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Valor CM</h6>
                                <p class="card-text"><small class="text-muted">Comparación de Riesgo Incial con Riesgo Residual</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <app-mat-data-table-privint (registro)="detectarAccionM($event)" [derechos]="derechosM" [columns]="columnsM" [data]="listadoMediciones" [select]="select" [allowMultiSelect]="allowMultiSelect" [ruta_add]="ruta_addM">
            </app-mat-data-table-privint>
        </div>
        <div class="tab-pane fade show" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
            <br/>
            <app-mat-data-table-privint (registro)="detectarAccionA($event)" [derechos]="derechosA" [columns]="columnsA" [data]="listadoAcciones" [select]="select" [allowMultiSelect]="allowMultiSelect" [ruta_add]="ruta_addA">
            </app-mat-data-table-privint>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalME" #modalME tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-grafica-metodo-evaluacion></app-grafica-metodo-evaluacion>
                <app-tabla-metodo-evaluacion></app-tabla-metodo-evaluacion>
            </div>
        </div>
    </div>
</div>