<p>Se está implementando un nuevo DataTable</p>
<!--
	<div class="row" *ngIf="!cargando">
    <div class="col-md-5 input-group">
        <input #filtro class="form-control" *ngIf="config.filtering" placeholder="Buscar" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" />
        <div class="input-group-btn">
            <button class="btn btn-xs btn-secondary" type="button" (click)="clearFilter()">
				<i class="fas fa-search-minus"></i>
			  </button>
        </div>
    </div>
    <div class="col-md-7 text-right">
        <button type="button" class="btn btn-primary" (click)="agregar()" *ngIf="derechos.insertar">
			<i class="fas fa-plus"></i> Agregar
		</button>
    </div>
</div>
<br>
<ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Página {{page}} de {{numPages}}</pre> -->