<header>
    <nav class="navbar">
        <!-- navbar-dark bg-dark-->
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo_sgc_gris.png" width="70" height="70" class="d-inline-block align-top" alt="SGC">
        </a>
        <div>
            <h4>Universidad Juárez del Estado de Durango</h4>
            <h3>Sistema de Gestión de Calidad</h3>
        </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right animated slideInRight">
                <app-info-user></app-info-user>
                <!--<ul class="dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-text">
                                <h4>Steave Jobs</h4>
                                <p class="text-muted">varun@gmail.com</p>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="far fa-address-card"></i> Mi Perfil</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i> Mis Avisos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                </ul>-->
            </div>
        </li>
    </nav>
</header>