<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información del Usuario</h4>
                <form class="form">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><i></i></div>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>