<div [formGroup]="forma">
    <ul class="list-group" *ngIf="ctrlcuestiones.controls.length === 0">
        <li class="list-group-item invalid-feedback">No hay datos para mostrar.
        </li>
    </ul>
    <ul class="list-group" *ngIf="ctrlcuestiones.controls.length > 0" [formArrayName]="cuestiones_name">
        <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of ctrlcuestiones.controls; let i = index" [formGroupName]="i">
            <mat-checkbox formControlName="b_foda" [disabled]="accion === 'I' || accion === 'U'  ? null: 'disabled'">
                <small class="text-muted">{{item.value.cuestion}}{{item.value.orden}} Cuestion {{item.value.tipo_cuestion_desc}}</small>
                <p style="margin-bottom: 0;">{{item.value.foda_desc}}</p>
            </mat-checkbox>
        </li>
    </ul>
</div>