<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">TIPO DE RIESGO</th>
            <th>EN CASO DE SUCEDER EL RIESGO SE DEBE TOMAR ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tabla">
            <td [ngStyle]="{'background-color': item.color, 'width': '2em'}"></td>
            <th [ngStyle]="{'color': item.color, 'text-align': 'center'}">{{item.tipo_riesgo}}</th>
            <td><span [ngStyle]="{'color': item.clave !== 1 ? 'red' : ''}">{{item.tipo_accion}}: </span> {{item.accion}}</td>
        </tr>
    </tbody>
</table>