<h5>{{titulo}}</h5>
<hr>
<br/>
<form novalidate="novalidate" [formGroup]="formaPuestos" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row">
            <label for="proceso" class="col-sm-2 col-form-label text-right">Puesto</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="puesto" aria-describedby="puestoHelp" [attr.disabled]="'disabled'">
                <small id="puestoHelp" class="form-text text-muted">Clave del Puesto</small>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="puesto_desc" aria-describedby="puesto_descHelp" [ngClass]="{'is-invalid': formaPuestos.controls['puesto_desc'].touched && formaPuestos.controls['puesto_desc'].invalid}">
                <small id="puesto_descHelp" class="form-text text-muted">Descripción del Puesto</small>
                <div *ngIf="formaPuestos.controls['puesto_desc'].touched && formaPuestos.controls['puesto_desc'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="predecesor" class="col-sm-2 col-form-label text-right">Predecesor</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="predecesor" aria-describedby="predecesorHelp" [attr.disabled]="accion === 'U'">
                <small id="predecesorHelp" class="form-text text-muted">Puesto Predecesor</small>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="predecesor_desc" aria-describedby="predecesor_descHelp" [attr.disabled]="accion === 'U'">
                <small id="predecesorHelp" class="form-text text-muted">Descripción del Puesto Predecesor</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#treeModal">
					Seleccionar Predecesor
				</button>
                <button type="button" class="btn btn-danger" (click)="borrarPredecesor()" *ngIf="formaPuestos.controls['predecesor'].value !== null">
					Borrar Predecesor
				</button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formaPuestos.valid">
			<i class="fa fa-save"></i>
			Guardar
		</button>&nbsp;
        <a [routerLink]="cancelar" class="btn btn-outline-danger">Cancelar</a>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="treeModal" #treeModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Puesto Predecesor</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
            </div>
            <div class="modal-body">
                <app-arbol [nodes]="items" (seleccionado)="seleccionado = $event"></app-arbol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="asignarPredecesor()">Seleccionar</button>
            </div>
        </div>
    </div>
</div>