<h5>{{titulo}}</h5>
<hr>
<br/>
<form novalidate="novalidate" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row">
            <label for="proceso" class="col-sm-2 col-form-label text-right">Proceso</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="proceso" aria-describedby="procesoHelp" [attr.disabled]="true">
                <small id="procesoHelp" class="form-text text-muted">Clave del Proceso</small>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="proceso_desc" aria-describedby="proceso_descHelp" [ngClass]="{'is-invalid': forma.controls['proceso_desc'].invalid}">
                <small id="proceso_descHelp" class="form-text text-muted">Descripción del Proceso</small>
                <div *ngIf="forma.controls['proceso_desc'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="predecesor" class="col-sm-2 col-form-label text-right">Predecesor</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="predecesor" aria-describedby="predecesorHelp" [attr.disabled]="accion === 'U'">
                <small id="predecesorHelp" class="form-text text-muted">Proceso Predecesor</small>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#treeModal" *ngIf="accion === 'I'">
					Seleccionar Predecesor
				</button>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="predecesor_desc" aria-describedby="predecesor_descHelp" [attr.disabled]="accion === 'U'">
                <small id="predecesorHelp" class="form-text text-muted">Descripción del Proceso Predecesor</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="objetivo" class="col-sm-2 col-form-label text-right">Objetivo</label>
            <div class="col-sm-10">
                <textarea class="form-control" formControlName="objetivo" aria-describedby="objetivoHelp" [ngClass]="{'is-invalid': forma.controls['objetivo'].invalid}"></textarea>
                <small id="objetivoHelp" class="form-text text-muted">Objetivo del Proceso</small>
                <div *ngIf="forma.controls['objetivo'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="apartados" class="col-sm-2 col-form-label text-right">Apartados de la Norma</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="apartados" aria-describedby="apartadosHelp" [ngClass]="{'is-invalid': forma.controls['apartados'].invalid}">
                <small id="apartadosHelp" class="form-text text-muted">Apartados de la Norma ISO aplicables al Proceso</small>
                <div *ngIf="forma.controls['apartados'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="responsable" class="col-sm-2 col-form-label text-right">Responsable</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="responsable" aria-describedby="responsableHelp" [ngClass]="{'is-invalid': forma.controls['responsable'].invalid}">
                <small id="responsableHelp" class="form-text text-muted">Responsable del Proceso</small>
                <div *ngIf="forma.controls['responsable'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="ent_data" class="col-sm-2 col-form-label text-right">Entrada de Datos</label>
            <div class="col-sm-10">
                <select name="ent_data" formControlName="ent_data" [ngStyle]="{'border-color': (ent_data.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}">
					<option value="">Seleccionar</option>
					<option value="S">Si</option>
					<option value="N">No</option>
				</select>
                <small id="ent_dataHelp" class="form-text text-muted">El Proceso tiene Entrada de Datos</small>
                <div *ngIf="ent_data.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="estatus" class="col-sm-2 col-form-label text-right">Estatus</label>
            <div class="col-sm-10">
                <select name="ent_data" formControlName="estatus" [ngStyle]="{'border-color': (estatus.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}">
					<option value="">Seleccionar</option>
					<option value="A">Abierto</option>
					<option value="C">Cerrado</option>
				</select>
                <small id="estatusHelp" class="form-text text-muted">El Proceso tiene Entrada de Datos</small>
                <div *ngIf="estatus.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
			<i class="fa fa-save"></i>
			Guardar
		</button>
        <a [routerLink]="['/paneladm','submenuproc', 'procesos']" class="btn btn-outline-danger">Cancelar</a>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="treeModal" #treeModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Proceso Predecesor</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
            </div>
            <div class="modal-body">
                <app-procesos-tree (seleccionado)="seleccionado = $event"></app-procesos-tree>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="asignarPredecesor(treeModal)">Seleccionar</button>
            </div>
        </div>
    </div>
</div>