<aside class="left-sidebar">
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a [routerLink]="['/dashboard']" routerLinkActive="active">
                        <i class="fas fa-home"></i> Principal
                    </a>
                </li>
                <li *ngFor="let menu of menus">
                    <a href="#{{menu.name}}" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i [class]="menu.icono"></i> {{menu.titulo}}
                    </a>
                    <ul [id]="menu.name" class="collapse list-unstyled">
                        <li *ngFor="let child of menu.children">
                            <a [routerLink]="['/' + child.pred, child.name]" routerLinkActive="active">{{ child.titulo }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>