<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <div class="bd-toc-item" routerLinkActive="active">
                    <ul class="nav bd-sidenav"> Catálogos
                        <li><a [routerLink]="['/catalogos','usuarios']" routerLinkActive="active">Usuarios</a></li>
                        <li><a [routerLink]="['/catalogos','procesos']" routerLinkActive="active">Procesos</a></li>
                        <li><a href="/docs/4.0/components/badge/">Badge</a></li>
                        <li><a href="/docs/4.0/components/badge/">Badge</a></li>
                        <li><a href="/docs/4.0/components/badge/">Badge</a></li>
                    </ul>
                </div>
                <li class="nav-devider"></li>
                <div class="bd-toc-item">
                    <ul class="nav bd-sidenav"> Procesos
                        <li class="active bd-sidenav"><a href="/docs/4.0/utilities/borders/">Borders</a></li>
                        <li class="active bd-sidenav"><a href="/docs/4.0/utilities/borders/">Borders</a></li>
                        <li class="active bd-sidenav"><a href="/docs/4.0/utilities/borders/">Borders</a></li>
                        <li class="active bd-sidenav"><a href="/docs/4.0/utilities/borders/">Borders</a></li>
                        <li class="active bd-sidenav"><a href="/docs/4.0/utilities/borders/">Borders</a></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>
</aside>