<aside class="left-sidebar">
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a [routerLink]="['/dashboard']" routerLinkActive="active">
                        <i class="fas fa-home"></i> Principal
                    </a>
                </li>
                <li *ngFor="let menu of menus">
                    <a href="#{{menu.name}}" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i [class]="menu.icono"></i> {{menu.titulo}}
                    </a>
                    <ul [id]="menu.name" class="collapse list-unstyled">
                        <li *ngFor="let child of menu.children">
                            <a routerLinkActive="active" *ngIf="!child.children" [routerLink]="['/' + menu.name, child.name]">{{ child.titulo }}</a>
                            <a routerLinkActive="active" *ngIf="child.children?.length > 0" href="#{{ child.name }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ child.titulo }}</a>
                            <ul [id]="child.name" class="collapse list-unstyled" *ngIf="child.children?.length > 0">
                                <li *ngFor="let child2 of child.children">
                                    <a routerLinkActive="active" [routerLink]="['/' + menu.name, child.name, child2.name]">{{ child2.titulo }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>