<h5>{{titulo}}</h5>
<hr>
<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>
        </div>
    </div>
</div>
<br>
<form novalidate="novalidate" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row alert alert-warning" *ngIf="accion === 'A'">
            <label for="autoriza_desc" class="col-sm-2 col-form-label text-right">Situación</label>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control" formControlName="autoriza_desc" aria-describedby="autoriza_descHelp">
            </div>
            <label for="motivo_cancela" *ngIf="autoriza === '6' || autoriza === '8'" class="col-sm-1 col-form-label text-right">Motivo</label>
            <div class="col-sm-4" *ngIf="autoriza === '6' || autoriza === '8'">
                <textarea readonly class="form-control" formControlName="motivo_cancela" aria-describedby="motivo_cancelaHelp"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="proceso" class="col-sm-2 col-form-label text-right">Proceso</label>
            <div class="col-sm-8">
                <select class="form-control" name="proceso" formControlName="proceso" [ngStyle]="{'border-color': (proceso.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}" [attr.disabled]="(accion === 'A' || accion === 'V' || accion === 'U' ? 'disabled' : null)">
						<option value="" selected="selected" disabled="disabled">Seleccionar</option>
						<option value="{{item.proceso}}" *ngFor="let item of procesos | filtraProcesos: accion">{{item.proceso_desc}}</option>
					</select>
                <small id="procesoHelp" class="form-text text-muted">El Riesgo de Gestión pertenece al Proceso</small>
                <div *ngIf="proceso.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="riesgo" class="col-sm-2 col-form-label text-right">Clave</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="riesgo" aria-describedby="riesgoHelp" [attr.disabled]="true">
                <small id="riesgoHelp" class="form-text text-muted">Clave del riesgo</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="riesgo_desc" class="col-sm-2 col-form-label text-right">Identificación del Riesgo</label>
            <div class="col-sm-8">
                <textarea class="form-control" formControlName="riesgo_desc" aria-describedby="riesgo_descHelp" [ngClass]="{'is-invalid': forma.controls['riesgo_desc'].invalid}" [attr.disabled]="(accion === 'A' || accion === 'V' ? 'disabled' : null)"></textarea>
                <small id="riesgo_descHelp" class="form-text text-muted">Identificación del riesgo</small>
                <div *ngIf="forma.controls['riesgo_desc'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuestiones" class="col-sm-2 col-form-label text-right">Cuestiones Externas/Internas</label>
            <div class="col-sm-10">
                <app-cuestiones-check #fodaCheck [forma]="forma" [listFODA]="listfoda" [listFODASel]="listfodaSel" [accion]="accion" [cuestiones_name]="'cuestiones'"></app-cuestiones-check>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a [routerLink]="cancelar" class="btn btn-outline-secondary" *ngIf="accion === 'V'">
            <i class="far fa-arrow-alt-circle-left"></i> Regresar
        </a>&nbsp;
        <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid" *ngIf="s_guardar">
			<i class="fa fa-save"></i> Guardar
		</button>&nbsp;
        <a [routerLink]="cancelar" class="btn btn-outline-danger" *ngIf="s_guardar">
			Cancelar</a>
    </div>
</form>