<h5>{{titulo}}</h5>
<hr>
<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>
        </div>
    </div>
</div>
<br>
<form novalidate="novalidate" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row alert alert-warning" *ngIf="accion === 'A'">
            <label for="autoriza_desc" class="col-sm-2 col-form-label text-right">Situación</label>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control" formControlName="autoriza_desc" aria-describedby="autoriza_descHelp">
            </div>
            <label for="motivo_cancela" *ngIf="autoriza === '6' || autoriza === '8'" class="col-sm-1 col-form-label text-right">Motivo</label>
            <div class="col-sm-4" *ngIf="autoriza === '6' || autoriza === '8'">
                <textarea readonly class="form-control" formControlName="motivo_cancela" aria-describedby="motivo_cancelaHelp"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="proceso" class="col-sm-2 col-form-label text-right">Proceso</label>
            <div class="col-sm-8">
                <select class="form-control" name="proceso" formControlName="proceso" [ngStyle]="{'border-color': (proceso.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}" [attr.disabled]="(accion === 'A' || accion === 'V' || accion === 'U' ? 'disabled' : null)">
					<option value="" selected="selected">Seleccionar</option>
					<option value="{{item.proceso}}" *ngFor="let item of procesos | filtraProcesos: accion">{{item.proceso_desc}}</option>
				</select>
                <small id="procesoHelp" class="form-text text-muted">La Oportunidad pertenece al Proceso</small>
                <div *ngIf="proceso.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="origen" class="col-sm-2 col-form-label text-right">Origen</label>
            <div class="col-sm-2">
                <select class="form-control" formControlName="origen" style="width: 350px;" [ngStyle]="{'border-color': (origen.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}" [attr.disabled]="accion === 'V' || accion === 'U' ? 'disabled' : null">
					<option value="">Seleccionar</option>
					<option value="E">Entrada</option>
					<option value="A">Actividad</option>
				</select>
                <small id="origenHelp" class="form-text text-muted">Origen de la Oportunidad</small>
                <div *ngIf="forma.controls['origen'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="easproc" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-8">
                <mat-expansion-panel [expanded]="true" class="bg-light">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h6 class="text-primary"><i class="fas fa-list-ul"></i> Entradas/Actividades</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-group" *ngIf="listEASProc.length === 0">
                        <li class="list-group-item invalid-feedback">No hay datos para mostrar.
                        </li>
                    </ul>
                    <ul class="list-group" *ngIf="listEASProc.length > 0">
                        <mat-radio-group formControlName="easproc">
                            <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of listEASProc">
                                <mat-radio-button [value]="item.clave" [disabled]="accion === 'I' ? null: 'disabled'">
                                    <p style="margin-top: .25em; margin-bottom: 0;">{{item.descripcion}}</p>
                                </mat-radio-button>
                            </li>
                        </mat-radio-group>
                    </ul>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Cuestiones Externas/Internas</label>
            <div class="col-sm-10">
                <div class="row">
                    <!--<div class="col-sm-5">
						<mat-expansion-panel [expanded]="true" class="bg-light">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="text-primary"><i class="fas fa-exclamation-triangle"></i> Amenazas</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<app-cuestiones-check #fodaCheckA [forma]="forma" [listFODA]="listFODA | filtraFoda: 'A'" [listFODASel]="listFODASel" [accion]="accion" [cuestiones_name]="'cuestionesA'"></app-cuestiones-check>
						</mat-expansion-panel>
					</div>-->
                    <div class="col-sm-5">
                        <mat-expansion-panel [expanded]="true" class="bg-light">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h6 class="text-primary"><i class="far fa-check-circle"></i> Oportunidades</h6>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-cuestiones-check #fodaCheckO [forma]="forma" [listFODA]="listFODA | filtraFoda: 'O'" [listFODASel]="listFODASel" [accion]="accion" [cuestiones_name]="'cuestionesO'"></app-cuestiones-check>
                        </mat-expansion-panel>
                    </div>
                </div>
                <!--<br/>
				<div class="row">
					<div class="col-sm-5">
						<mat-expansion-panel [expanded]="true" class="bg-light">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="text-primary"><i class="far fa-thumbs-down"></i> Debilidades</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<app-cuestiones-check #fodaCheckD [forma]="forma" [listFODA]="listFODA | filtraFoda: 'D'" [listFODASel]="listFODASel" [accion]="accion" [cuestiones_name]="'cuestionesD'"></app-cuestiones-check>
						</mat-expansion-panel>
					</div>
					<div class="col-sm-5">
						<mat-expansion-panel [expanded]="true" class="bg-light">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="text-primary"><i class="far fa-lightbulb"></i> Fortalezas</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<app-cuestiones-check #fodaCheckF [forma]="forma" [listFODA]="listFODA | filtraFoda: 'F'" [listFODASel]="listFODASel" [accion]="accion" [cuestiones_name]="'cuestionesF'"></app-cuestiones-check>
						</mat-expansion-panel>
					</div>
				</div>-->
            </div>
        </div>
        <div class="form-group row">
            <label for="oportunidad" class="col-sm-2 col-form-label text-right">Clave</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="oportunidad" aria-describedby="oportunidadHelp" [attr.disabled]="true">
                <small id="oportunidadHelp" class="form-text text-muted">Clave de la Oportunidad</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="oprtunidad_desc" class="col-sm-2 col-form-label text-right">Descripción de la Oportunidad</label>
            <div class="col-sm-8">
                <textarea class="form-control" formControlName="oportunidad_desc" aria-describedby="oportunidad_descHelp" [ngClass]="{'is-invalid': forma.controls['oportunidad_desc'].invalid}" [attr.disabled]="(accion === 'A' || accion === 'V' ? 'disabled' : null)"></textarea>
                <small id="oportunidad_descHelp" class="form-text text-muted">Descripción detallada de la Oportunidad</small>
                <div *ngIf="forma.controls['oportunidad_desc'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="responsable" class="col-sm-2 col-form-label text-right">Responsable</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="responsable" aria-describedby="responsableHelp" [ngClass]="{'is-invalid': forma.controls['responsable'].invalid}" [attr.disabled]="(accion === 'V' ? 'disabled' : null)">
                <small id="responsableHelp" class="form-text text-muted">Responsable de la Oportunidad</small>
                <div *ngIf="responsable.invalid" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="puesto" class="col-sm-2 col-form-label text-right">Puesto</label>
            <div class="col-sm-8">
                <select class="form-control" name="puesto" formControlName="puesto" [ngStyle]="{'border-color': (puesto.invalid ? '#dc3545' : 'rgb(169, 169, 169)' )}" [attr.disabled]="(accion === 'A' || accion === 'V' ? 'disabled' : null)">
					<option value="" selected="selected" disabled="disabled">Seleccionar</option>
					<option value="{{item.puesto}}" *ngFor="let item of listPuestos">{{item.puesto_desc}}</option>
				</select>
                <small id="puestoHelp" class="form-text text-muted">Puesto del responsable de la Oportunidad</small>
                <div *ngIf="puesto.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="fecha" class="col-sm-2 col-form-label text-right">Fecha de Inicio</label>
            <div class="col-sm-2">
                <input class="form-control" type="date" formControlName="fecha" aria-describedby="fechaHelp" [ngStyle]="{'border-color': (fecha.invalid ? '#dc3545' : '#ced4da')}" [attr.disabled]="(accion === 'A' || accion === 'V' ? 'disabled' : null)">
                <small id="fechaHelp" class="form-text text-muted">Fecha de Inicio de la Oportunidad</small>
                <div *ngIf="fecha.invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
            </div>
        </div>
        <!--<div class="form-group row">
             <label for="acciones" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-12">
                <mat-expansion-panel [expanded]="true" class="bg-light">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h6 class="text-primary"><i class="fas fa-list-ul"></i> Acciones</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="table table-sm table-hover" formArrayName="acciones">
                        <thead class="thead-secondary">
                            <tr>
                                <td colspan="2" class="text-right">
                                    <button [attr.disabled]="(proceso.value === '') ? 'disabled' : null" type="button" class="btn btn-sm btn-outline-success" *ngIf="accion==='U' || accion==='I'" (click)="addAccion()">
										<i class="fa fa-plus"></i> Agregar
									</button>
                                </td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <th>Fecha de Inicio</th>
                                <th>Responsable</th>
                                <th>Puesto</th>
                                <th>Observación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of acciones.controls; let i = index" [formGroupName]="i">
                                <td>
                                    <textarea class="form-control" rows="2" cols="35" formControlName="accion" [attr.disabled]="item.value.regid > 0 ? 'disabled' : null"></textarea>
                                    <div *ngIf="acciones.controls[i].controls['accion'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
                                </td>
                                <td>
                                    <input class="form-control" type="date" formControlName="fecha_inicio" [attr.disabled]="item.value.regid > 0 ? 'disabled' : null">
                                    <div *ngIf="acciones.controls[i].controls['fecha_inicio'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
                                </td>
                                <td>
                                    <textarea class="form-control" rows="2" cols="35" formControlName="responsable_linea" [attr.disabled]="item.value.regid > 0 ? 'disabled' : null"></textarea>
                                    <div *ngIf="acciones.controls[i].controls['responsable_linea'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
                                </td>
                                <td>
                                    <select class="form-control" formControlName="puesto_linea" [attr.disabled]="item.value.regid > 0 ? 'disabled' : null">
											<option value="" selected="selected" disabled="disabled">Seleccionar</option>
											<option value="{{itemp.puesto}}" *ngFor="let itemp of listPuestos">{{itemp.puesto_desc}}</option>
										</select>
                                    <div *ngIf="acciones.controls[i].controls['puesto_linea'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
                                </td>
                                <td>
                                    <textarea class="form-control" rows="2" cols="35" formControlName="observaciones" [attr.disabled]="item.value.regid > 0 ? 'disabled' : null">
									</textarea>
                                    <div *ngIf="acciones.controls[i].controls['observaciones'].invalid" class="invalid-feedback" style="display: block">Este campo es requerido</div>
                                </td>
                                <td>
                                    <button type="button" (click)="delItem(i)" *ngIf="accion !== 'V'" class="btn btn-outline-danger" title="Borrar acción">
										<i class="fas fa-backspace"></i>
									</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>
            </div>
        </div> -->
    </div>
    <div class="text-center">
        <a [routerLink]="cancelar" class="btn btn-outline-secondary" *ngIf="accion === 'V'">
            <i class="far fa-arrow-alt-circle-left"></i> Regresar
        </a>&nbsp;
        <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid" *ngIf="s_guardar">
			<i class="fa fa-save"></i> Guardar
		</button>&nbsp;
        <a [routerLink]="cancelar" class="btn btn-outline-danger" *ngIf="s_guardar">
			Cancelar</a>
    </div>
</form>