<app-header-principal></app-header-principal>
<div class="main-container">
    <div class="row">
        <div class="col-sm-11">
            <h4>{{sistema}}</h4>
        </div>
        <div class="col-sm-1">
            <a [routerLink]="['/home']" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
        </div>
    </div>
    <br>
    <div class="card fadeIn">
        <h5 class="card-header">Alcance</h5>
        <div class="card-body">
            <p class="card-text">{{alcance}}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Misión</h5>
        <div class="card-body">
            <p class="card-text">{{mision}}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Visión</h5>
        <div class="card-body">
            <p class="card-text">Para el 2018, el Sistema de Gestión de Calidad de la Universidad Juárez del Estado de Durango, permitirá contar con una administración moderna, con programas educativos eficientes y eficaces, soportada por sistemas informáticos capaces de
                generar los indicadores que reflejen la realidad institucional.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Objetivos de Calidad</h5>
        <ol class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let objetivo of objetivos">{{objetivo.numero}}. {{objetivo.descrip}}</li>
        </ol>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Nota</h5>
        <div class="card-body">
            <p class="card-text">{{nota}}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>