<app-header-principal></app-header-principal>
<div class="main-container">
    <div class="card-columns" style="column-count: 4;">
        <div class="card" style="width: 18rem; height: 30rem;" *ngFor="let sist of listadoSistemas">
            <img class="card-img-top img-thumbnail" src="assets/images/ujed.png" alt="{{sist.siglas}}">
            <div class="card-body" style="height: 8rem;">
                <h5 class="card-title">{{sist.siglas}}</h5>
                <p class="card-text text-center">{{sist.nombre}}</p>
            </div>
            <div class="card-footer text-right"><a href="#" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Ver Detalles</a></div>
        </div>
    </div>
</div>
<app-footer></app-footer>