<app-header></app-header>
<div class="main-container">
    <div class="card">
        <h5 class="card-header">Misión</h5>
        <div class="card-body">
            <p class="card-text">El SGC busca mejorar el servicio a los usuarios y contribuir en el cumplimiento de la Misión de la Universidad, mediante la integración de los procesos de: Oferta Educativa, Admisión, Inscripción y Reinscripción, Servicios para la Formación
                de Alumnos, Administración Escolar, Titulación y Archivo, así como el de Seguimiento de Egresados.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Visión</h5>
        <div class="card-body">
            <p class="card-text">Para el 2018, el Sistema de Gestión de Calidad de la Universidad Juárez del Estado de Durango, permitirá contar con una administración moderna, con programas educativos eficientes y eficaces, soportada por sistemas informáticos capaces de
                generar los indicadores que reflejen la realidad institucional.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Política de Calidad</h5>
        <div class="card-body">
            <p class="card-text">La Universidad Juárez del Estado de Durango determina las cuestiones externas e internas, que son pertinentes a su dirección estratégica, que la comprometen a ofrecer servicios académicos, de investigación, administrativos y culturales de
                calidad a sus usuarios, de forma eficiente, oportuna, transparente y con objetivos de calidad definidos, integrando sus procesos en un Sistema de Gestión de Calidad, para el cumplimiento de los requisitos de las partes interesadas, a través
                de la mejora continua y soportada en la Norma ISO 9001 vigente.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Objetivos de Calidad</h5>
        <ol class="list-group list-group-flush">
            <li class="list-group-item">1. Mejorar el tiempo de respuesta a los requerimientos de servicio de los usuarios.</li>
            <li class="list-group-item">2. La estandarización de los procesos y sus controles para garantizar mejores resultados en cuanto a la calidad del servicio educativo.</li>
            <li class="list-group-item">3. Personal altamente competente para el ejercicio de sus funciones a través del proceso de formación y capacitación.</li>
            <li class="list-group-item">4. Gestión Institucional.- Administrar eficientemente los recursos y generar información confiable, transparente y oportuna de la gestión institucional, para optimizar la asignación de los recursos con que cuenta la institución.</li>
            <li class="list-group-item"> 5. Trayectoria.- Realizar el seguimiento de trayectoria escolar en los programas educativos de la UJED, con el fin de utilizar los resultados en materia de planeación educativa para mejorar la calidad de dichos programas.</li>
            <li class="list-group-item"> 6. Soporte.- Realizar la prestación de servicios administrativos con eficiencia y eficacia, con el fin de satisfacer las necesidades de los usuarios internos y externos.</li>
        </ol>
    </div>
</div>

<app-footer></app-footer>