<hr>
<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-left">
            <strong><i class="fas fa-sync-alt fa-spin fa-1x"></i> Cargando, Espere por favor</strong>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card bg-light mb-1">
        <div class="card-body">
            <h5 class="card-title">"{{registro.indicador_desc}}"</h5>
            <h6 class="card-subtitle mb-1 text-muted text-right">{{registro.proceso_desc}}</h6>
        </div>
        <ul class="list-group list-group-flush" style="font-size: 12px;">
            <li class="list-group-item">Meta: {{registro.meta}}</li>
            <li class="list-group-item">Cálculo: {{registro.calculo}}</li>
            <li class="list-group-item">Frecuencia: {{registro.frecuencia_desc}}</li>
            <li class="list-group-item">Objetivo de Calidad: {{registro.objetivo_desc}}</li>
        </ul>
        <div class="card-footer text-right">
            <button *ngIf="insertar" type="button" class="btn btn-sm btn-outline-primary" (click)="agregarMedicion()">
				<i class="fas fa-plus"></i> Agregar
			</button>&nbsp;
            <a [routerLink]="cancelar" class="btn btn-sm btn-outline-dark">Regresar</a>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-header">Gráfica</div>
    </div> -->
</div>
<app-mat-data-table (registro)="detectarAccion($event)" [derechos]="derechos" [columns]="columns" [data]="listado" [select]="select" [allowMultiSelect]="allowMultiSelect">
</app-mat-data-table>