<h5>{{titulo}}</h5>
<hr>
<br/>
<form novalidate="novalidate" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-group">
        <div class="form-group row">
            <label for="proceso" class="col-sm-2 col-form-label text-right">Clave</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" formControlName="clave" aria-describedby="claveHelp" [attr.disabled]="'disabled'">
                <small id="claveHelp" class="form-text text-muted">Clave de la Frecuencia de Medición</small>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="descrip" aria-describedby="descripHelp" [ngClass]="{'is-invalid': forma.controls['descrip'].invalid}">
                <small id="descripHelp" class="form-text text-muted">Descripción de la Frecuencia de Medición</small>
                <div *ngIf="forma.controls['descrip'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="tipo_periodo" class="col-sm-2 col-form-label text-right">Tipo de Periodo</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" formControlName="tipo_periodo" aria-describedby="tipo_periodoHelp" [ngClass]="{'is-invalid': forma.controls['tipo_periodo'].invalid}">
				<small id="tipo_periodoHelp" class="form-text text-muted">Tipo de Periodo para la Frecuencia</small>
				<div *ngIf="forma.controls['tipo_periodo'].errors?.required" class="invalid-feedback">Este campo es requerido</div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
			<i class="fa fa-save"></i>
			Guardar
		</button>&nbsp;
        <a [routerLink]="cancelar" class="btn btn-outline-danger">Cancelar</a>
    </div>
</form>